
@{
    ViewData["Title"] = "COVID";
}


<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Recomendações COVID-19</h2>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Medidas Específicas para Transportes Públicos Coletivos: Trabalhadores</a></h4>
                <p class="description">1. As medidas específicas a adotar pelos trabalhadores incluem:</p>
                <p class="description">&emsp;a) Desinfetar as mãos com frequência; desinfetar o tablier, a mesa de comando, os manípulos, os botões, a cadeira, e o restante habitáculo, especialmente entre turnos;</p>
                <p class="description">&emsp;b) Proceder à abertura automática das portas nos veículos em que tal seja tecnicamente possível, efetuando paragem em todas as estações/paragens, no sentido de evitar que os utilizadores tenham de carregar no botão de abertura de portas (botão stop);</p>
                <p class="description">&emsp;c) Privilegiar a entrada e a saída dos utilizadores pela porta traseira do veículo, nos autocarros e elétricos.</p>
                <p class="description">2.Caso seja identificado um utilizador como caso suspeito de COVID-19, devem ser seguidas as orientações e procedimentos previstos no Plano de Contingência da empresa e as recomendações da DGS.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Medidas Específicas para Transportes Públicos Coletivos: Utilizadores</a></h4>
                <p class="description">1. As medidas específicas a adotar pelos utilizadores incluem:</p>
                <p class="description">&emsp;a) Adotar o máximo de distanciamento físico possível em relação aos restantes passageiros e aos colaboradores, em qualquer contexto, como na fila de espera, dentro dos veículos, e na entrada e saída do transporte, da estação, do terminal ou da interface;</p>
                <p class="description">&emsp;b) Minimizar os cruzamentos entre pessoas, nomeadamente em entradas e saídas do veículo, deixando passar primeiro quem está a sair;</p>
                <p class="description">&emsp;c) Evitar deslocamentos desnecessários dentro do veículo, como a passagem entre diferentes carruagens ou áreas;</p>
                <p class="description">&emsp;d) Minimizar a utilização de espaços confinados, como casas de banho ou zonas de atendimento ao público;</p>
                <p class="description">&emsp;e) Respeitar as orientações dos motoristas e dos agentes do operador.</p>
                <p class="description">2.Se for um caso suspeito ou confirmado de COVID-19 não deve utilizar esta via de transporte. Caso tenha sintomas sugestivos de COVID-19, contacte a Linha SNS 24 (808 24 24 24). Se estiver doente ou com sintomas, e for absolutamente necessário utilizar uma via coletiva de transporte, coloque uma máscara cirúrgica e reforce as precauções anteriormente descritas.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Participação em eventos </a></h4>
                <p class="description">1. Recomenda-se que as seguintes pessoas não participem em eventos públicos, isto é, que não permaneçam em locais muitos frequentados e fechados, sem absoluta necessidade: </p>
                <p class="description">&emsp;▪ Quem está doente;</p>
                <p class="description">&emsp;▪ Quem, ainda que não tenha sintomas, tenha estado numa área com transmissão comunitária ativa ou que tenha tido contato com um caso confirmado por COVID-19, nos últimos 14 dias.</p>
                <p class="description">1.1. Como minimizar o risco de ficar doente num evento</p>
                <p class="description">&emsp;A recomendação mais importante é a prática de uma boa higienização das mãos e de etiqueta respiratória. </p>
                <p class="description">&emsp;A adoção das medidas acima elencadas são especialmente importantes para pessoas que têm alguns problemas de saúde, como diabetes, insuficiência renal, doença pulmonar crónica, pessoas imunocomprometidas, ou outra. </p>
                <p class="description">&emsp;Uma medida também importante é de limitar o uso de álcool/drogas, uma vez que pode afetar a capacidade de seguir adequadamente as recomendações anteriormente referidas.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Doente num evento público </a></h4>
                <p class="description">Perante o aparecimento de sintomas (incluindo febre, tosse ou eventual dificuldade respiratória), o primeiro passo é ligar para o SNS24 -808 24 24 24, e seguir as orientações que lhe forem dadas. Simultaneamente:</p>
                <p class="description">&emsp;1. Disponibilizar uma máscara cirúrgica, a ser colocada pelo próprio doente;</p>
                <p class="description">&emsp;2. Isolar o doente (se possível, numa sala isolada com casa-de-banho de uso exclusivo, disponibilizando água, alimentos, lenços ou toalhetes de papel, saco para recolha dos lenços e um meio de comunicar com ele, como por exemplo um telemóvel;</p>
                <p class="description">&emsp;3. Seguir as orientações dadas pelo SNS24 e aguardar tranquilamente</p>

            </div>
        </div>

    </div>
</section>







