
@{
    ViewData["Title"] = "Efetuar_Reserva";
}

<h1>Efetuar_Reserva (Guia Turístico)</h1>



<form>
    <div class="form-group">
        <label for="exampleInputName">Nome</label>
        <input type="text" class="form-control" id="exemplonome" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Nunca vamos partilhar o seu E-mail com ninguem.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPhone">Telémovel</label>
        <input type="number" class="form-control" id="exampleInputPhone" placeholder="Phone">
    </div>
    <select class="custom-select">
        <option selected>Que tipo de veiculo Prefere</option>
        <option value="1">Urbano</option>
        <option value="2">Off-Road</option>
        <option value="3">Ciclomotor</option>
        <option value="4">Não pretendo veiculo</option>
    </select>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Tomei conhecimento das medidas da DGS</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Não conheço as medidas da DGS</label>
    </div>
    <button type="submit" class="btn btn-primary">Continuar</button>
</form>