<!DOCTYPE html>
<html lang="en">

<body>    
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url('assets/img/slide/slide-1.jpg');">
                        <div class="carousel-container">
                            <div class="carousel-content container">
                                <h2 class="animate__animated animate__fadeInDown">Guarda <span>2027</span></h2>
                                <p class="animate__animated animate__fadeInUp">Saiba tudo sobre esta candidatura.</p>
                                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver mais</a>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background-image: url('assets/img/slide/slide-2.JPG');">
                        <div class="carousel-container">
                            <div class="carousel-content container">
                                <h2 class="animate__animated animate__fadeInDown">A "Cidade mais alta"</h2>
                                <p class="animate__animated animate__fadeInUp">Todos os pontos de interesse da Região</p>
                                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver mais</a>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
                    <span class="sr-only">Seguinte</span>
                </a>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        
        
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Os nossos serviços</h2>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-tracking"></i></i></div>
                        <h4 class="title"><a href="">Trilhos Pedestres</a></h4>
                        <p class="description">Aproveite para respirar o ar mais puro enquanto caminha pelos trilhos pedestres!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="icofont-bicycle"></i></div>
                        <h4 class="title"><a href="">Trilhos Bicicletas</a></h4>
                        <p class="description">Pedale o máximo que conseguir para disfrutar dos vários pontos de interesse nos trilhos para bicicletas!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="icofont-hill"></i></i></div>
                        <h4 class="title"><a href="">Trilhos Off-Road</a></h4>
                        <p class="description">Aprecie as belas paisagens e caminhos que a região tem para oferecer pelos trilhos off-road!</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="icofont-car"></i></div>
                        <h4 class="title"><a href="">Trilhos Urbanos</a></h4>
                        <p class="description">Se prefere andar em estrada, temos uma ótima opção para si!</p>
                    </div>

                    <!--
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="icofont-settings"></i></div>
            <h4 class="title"><a href="">Alojamentos</a></h4>
            <p class="description">Pode pernoitar nos melhores hoteis e alojamentos</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="icofont-tasks-alt"></i></div>
            <h4 class="title"><a href="">COVID-19 Safe</a></h4>
            <p class="description">Todas as atividades têm em conta as recomendações da DGS</p>
        </div>
    </div>
            -->
                </div>
        </section><!-- End Services Section -->
        
        <!-- ======= Our Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title">
                    <h2>A nossa Equipa</h2>
                    <p>Apresentamos a equipa que está por trás de todos os serviços e projetos:</p>
                </div>

                <div class="row">

                    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                        <div class="member">
                            <div class="pic"><img src="assets/img/team/bruno.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Bruno Jesus</h4>
                                <span>CEO</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <div class="pic"><img src="assets/img/team/daniel.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Daniel Pereira</h4>
                                <span>Guia Turístico</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Rui Pissarra</h4>
                                <span>Contabilista</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Our Team Section -->
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                </div>

                <div class="row  d-flex align-items-stretch">

                    <div class="col-lg-6 faq-item" data-aos="fade-up">
                        <h4>Quais sao as vantagens de utilizar o nosso site para descobrir a nossa região?</h4>
                        <p>
                           Ao utilizar o site EgiTrails vai ter acesso a diversos trilhos que o levarão a conhecer os melhores locais da região, tanto a pé como de bicicleta ou até mesmo de jipe, estaram tambem disponiveis bicicletas e jipes para alugar de maneira a que todas as pessoas possam disfrotar das paisagens maravilhosas da região da Guarda.
                           A nossa equipa é composta por 3 estudantes de engenharia informática do Instituto Politécnico da Guarda, que estão a desenvolver um projeto para as unidades curriculares de Engenharia de Software II em conjunto com Programaçaão para a Internet.  
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
                        <h4>Existem restrições para viajar como turista na região da Guarda neste momento?</h4>
                        <p>
                            Até agora, nenhuma regra específica para turistas foi anunciada.
                            Há uma recomendação geral para que os cidadãos reduzam a circulação ao necessário para evitar a concentração de pessoas e pontos de infecção.
                            Restaurantes e cafés, equipamentos culturais e monumentos estão abertos, às vezes com horários mais restritos e regras de distância social.
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h4>Existem regras para restaurantes e alojamentos?</h4>
                        <p>
                            Sim, os restaurantes e alojamentos funcionam de acordo com várias regras de higiene e distanciamento social.
                            Os restaurantes devem fechar até 1h. Todas as demais lojas devem fechar entre 20h e 23h, de acordo com as instruções da prefeitura da área geográfica.
                            Em 124 concelhos considerados de alto risco, foram decretadas medidas específicas até 19 de novembro. Nestes locais, os restaurantes devem encerrar até às 22h30 e o limite é de 6 pessoas por grupo, exceto se pertencerem ao mesmo agregado familiar.
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
                        <h4>Há como saber se os veiculos de passeio seguem as regras de higiene e segurança?</h4>
                        <p>
                            A EgiTrails desenvolveu um selo “ Clean & Safe ” para identificar os prestadores de serviços de viagens que cumpram as medidas de higiene e limpeza necessárias para controlar a transmissão do vírus e outras infecções potenciais.
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
                        <h4>É seguro utilizar os serviços de Hoteis nesta Altura?</h4>
                        <p>
                            Nos hotéis, higiene e limpeza são sempre priorizadas. É enfatizada a importância de uma boa higiene das mãos com base nas recomendações das autoridades de saúde locais.
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
                        <h4>Ao alugar um jipe/bicicleta seremos acompanhados pelo Guia?</h4>
                        <p>
                            A EgiTrails disponibiliza em todos os seus serviços um Guia Turístico, no caso de alugar um jipe o guia será o condutor, no caso da bicicleta este irá acompanhar tambem de bicicleta.
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->
        <!-- ======= Contact Us Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contactos</h2>
                </div>

                <div class="row">

                    <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>Endereço</h3>
                            <p>AAv. Dr. Francisco Sá Carneiro 50, Guarda, Portugal</p>
                        </div>
                    </div>

                    <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="info-box">
                            <i class="bx bx-envelope"></i>
                            <h3>Email</h3>
                            <p>egitrails6300@gmail.com</p>
                        </div>
                    </div>

                    <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="info-box ">
                            <i class="bx bx-phone-call"></i>
                            <h3>Telefone</h3>
                            <p>+351 963 852 741<br>+351 271 456 789</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Us Section -->

    </main><!-- End #main -->
   

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    

</body>

</html>