
@{
    ViewData["Title"] = "PoliticaDePrivacidade";
}



<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Política de Privacidade</h2>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Política de Tratamento de Dados Pessoais</a></h4>
                <p class="description">A EgiTrails está empenhada em proteger e respeitar a privacidade dos utilizadores do portal da empresa e das plataformas por si geridas.</p>
                <p class="description">Com a entrada em vigor no dia 25 de maio de 2018, em todos os Estados-Membros da União Europeia, do Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, de 27 de abril de 2016 (Regulamento Geral sobre a Proteção de Dados - RGPD), revela-se necessário publicitar a presente Política de Tratamento de Dados Pessoais, a qual tem subjacente o compromisso da EgiTrails em respeitar as regras de proteção de dados pessoais.</p>
                <p class="description">A presente Política estabelece, assim, a base na qual são objeto de tratamento neste portal e/ou nas plataformas geridas pela EgiTrails quaisquer dados pessoais obtidos ou fornecidos pelos respetivos titulares. O termo “dados pessoais”, conforme usado nesta Política, refere-se a determinada informação como o nome, endereço de e-mail, morada, número de telefone ou qualquer outra informação que possa ser usada para identificar o titular. Para navegar nas áreas públicas deste portal não é necessário fornecer informação pessoal.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Consentimento</a></h4>
                <p class="description">Ao registar-se nas plataformas geridas pela EgiTrails e/ou fornecer quaisquer dados pessoais, o titular dos dados está a prestar livremente o seu consentimento explícito para que os dados pessoais submetidos possam ser tratados para as finalidades e nos termos descritos nesta Política e em conformidade com as leis e regulamentos em vigor relacionados com dados pessoais.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Tratamento de dados pessoais</a></h4>
                <p class="description">O tratamento de dados pessoais consiste numa operação ou conjunto de operações efetuadas sobre dados pessoais ou conjuntos de dados pessoais, através de meios automatizados, ou não, nomeadamente a recolha, o registo, a organização, a estruturação, a conservação, a adaptação, a recuperação, a consulta, a utilização, a divulgação, difusão, comparação, interconexão, a limitação, o apagamento ou a destruição.</p>
                <p class="description">Alguns dos dados pessoais são de fornecimento obrigatório para a disponibilização do serviço e/ou informação em causa. A EgiTrails informará dessa obrigatoriedade e na eventualidade de falta ou de fornecimento incorreto dos dados exigidos, a EgiTrails não poderá prestar o serviço e/ou informação solicitado. A disponibilização de dados incorretos ou inexatos é da exclusiva responsabilidade do respetivo titular.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Responsável pelo tratamento</a></h4>
                <p class="description">Este portal é propriedade exclusiva da EgiTrails, I.P., instituto público de regime especial, pessoa coletiva n.º 508666236, com sede na Guarda, sendo esta a entidade responsável pelo tratamento dos dados pessoais obtidos ou fornecidos no portal. O contacto poderá ser, ainda, efetuado através do endereço eletrónico: geral@egitrails.pt.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Responsável pelo tratamento</a></h4>
                <p class="description">Este portal é propriedade exclusiva da EgiTrails, I.P., instituto público de regime especial, pessoa coletiva n.º 508666236, com sede na Guarda, sendo esta a entidade responsável pelo tratamento dos dados pessoais obtidos ou fornecidos no portal. O contacto poderá ser, ainda, efetuado através do endereço eletrónico: geral@egitrails.pt.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Direitos dos titulares dos dados pessoais</a></h4>
                <p class="description">Nos termos e para os efeitos do disposto nos artigos 13.º a 22.º do RGPD, a EgiTrails informa que quaisquer dados que estejam na sua posse podem ser consultados, limitados no seu tratamento, retificados (por incorreção, inexatidão ou incompleição) pelo respetivo titular e, no caso de o tratamento se ter fundado no consentimento, tem, ainda, o titular direito a solicitar o apagamento dos dados cujo tratamento não se enquadre numa das situações de licitude previstas no artigo 6.º, n.º 1, alíneas b) a f) do RGPD.</p>
                <p class="description">Mais informa a EgiTrails que, nos casos em que o tratamento dependa de consentimento, o titular dos dados tem o direito de retirar o seu consentimento a qualquer momento. A retirada do consentimento não compromete a licitude do tratamento efetuado com base no consentimento previamente dado.</p>
                <p class="description">O titular dos dados tem, ainda, direito a opor-se à continuação do tratamento dos seus dados pessoais, a ser informado, a pedido, sobre as finalidades do tratamento, as categorias de dados envolvidos, a identidade dos destinatários a quem tenham sido divulgados e o período de conservação dos seus dados pessoais, assim como a receber os dados pessoais que lhe dizem respeito e que tenha fornecido e enviá-los para outro responsável pelo tratamento ("portabilidade dos dados").</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Comunicação e transferência dos dados pessoais</a></h4>
                <p class="description">Os dados pessoais poderão ser disponibilizados aos tribunais e demais autoridades competentes, no estrito cumprimento do disposto na lei, nomeadamente quando se revelem necessários para a resolução de litígios e para atividades relativas à proteção da segurança pública, da defesa e segurança do Estado e à prevenção, investigação ou deteção de ilícitos criminais.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Conservação dos dados pessoais</a></h4>
                <p class="description">O período durante o qual os dados pessoais são armazenados e conservados varia de acordo com a finalidade para a qual a informação é tratada.</p>
                <p class="description">A EgiTrails conserva os dados pessoais apenas durante o tempo que for necessário para atingir o objetivo para o qual foram fornecidos ou para cumprir quaisquer obrigações contratuais ou jurídicas a que se encontra adstrito.</p>
                <p class="description">Assim, e sempre que não exista uma exigência legal específica, os dados serão conservados apenas pelo período mínimo necessário para a prossecução das finalidades que motivaram a sua recolha ou o seu posterior tratamento, nos termos definidos na lei.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Reclamações</a></h4>
                <p class="description">Sem prejuízo de poder apresentar reclamações diretamente à EgiTrails, através dos contactos disponibilizados para o efeito, o titular dos dados pode reclamar diretamente para a Comissão Nacional de Proteção de Dados (CNPD), que é a Autoridade de Controlo em Portugal, utilizando os contactos disponibilizados por esta entidade para o efeito.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Menores</a></h4>
                <p class="description">Os menores de 16 anos deverão obter autorização dos pais ou tutores antes de acederem ou disponibilizarem dados pessoais no portal.</p>
                <p class="description">A responsabilidade na identificação dos conteúdos e páginas a que os menores de 16 anos acedem é dos seus pais ou tutores legais.</p>

            </div>
        </div>

        <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
                <h4 class="title"><a href="">Alterações a esta política</a></h4>
                <p class="description">À EgiTrails reserva-se o direito de, a qualquer altura, proceder a reajustamentos ou alterações à presente Política de Tratamento de Dados Pessoais, publicando tais alterações nos meios de divulgação próprios. </p>
                
            </div>
        </div>

    </div>
</section>
