
@{
}

<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Pontos de Interesse</h2>
            <p>Apresentamos-lhe uma lista de locais fantásticos da nossa região</p>
        </div>

        <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/1.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Covão da Ametade</h4>
                        <span>Manteigas</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/2.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Vale do Rossim</h4>
                        <span>Gouveia</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/3.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Castelo do Sabugal</h4>
                        <span>Sabugal</span>
                    </div>
                </div>
            </div>



            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/4.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Torre</h4>
                        <span>Seia</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/5.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Lagoa Comprida</h4>
                        <span>Seia</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/6.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Museu do Pão</h4>
                        <span>Seia</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/7.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Museu Natural da Eletricidade</h4>
                        <span>Seia</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/8.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Parque Ecológico</h4>
                        <span>Gouveia</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/9.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Poço do Inferno</h4>
                        <span>Manteigas</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/10.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Sé da Guarda</h4>
                        <span>Guarda</span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic">
                        <img style="height:350px" src="~/assets/img/Pontos/11.png" /> <class ="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Museu do Côa</h4>
                        <span>Vila Nova de Foz Côa</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
