
@{

}


<section id="portfolioVeiculos" class="portfolio section-bg">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
            <h2>Os Nossos Veículos</h2>
            <p>Nesta lista pode encontrar todos os veículos que a EgiTrails dispõe para poder alugar e usufruir de uma fantástica experiência na nossa companhia. Faça já a Sua reserva</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Todos</li>
                    <li data-filter=".filter-bike">Bicicleta</li>
                    <li data-filter=".filter-road">Urbano</li>
                    <li data-filter=".filter-off">Off-Road</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">


            <div class="col-lg-4 col-md-6 portfolio-item filter-bike">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portofolioBicicletas/bicicleta1.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bicicleta de Montanha</h4>
                        <p>Trek Procaliber 9.8</p>
                        <div class="portfolio-links">
                            
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-road">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioBus/Bus1.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mini Autocarro</h4>
                        <p>28 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-off">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioOffRoad/OffRoad1.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mitsubishi Outlander</h4>
                        <p>5 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-road">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioBus/Bus2.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Renault Master</h4>
                        <p>12 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-bike">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portofolioBicicletas/bicicleta2.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bicicleta de Estrada</h4>
                        <p>Specialized Roubaix Comp</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-road">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioBus/Bus3.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Opel Zafira</h4>
                        <p>9 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-off">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioOffRoad/OffRoad2.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Jeep Wrangler</h4>
                        <p>5 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-bike">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portofolioBicicletas/bicicleta3.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bicicleta de Montanha Elétrica</h4>
                        <p>Trek Rail 9.7 NX</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-off">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioOffRoad/OffRoad3.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Suzuki Vitara</h4>
                        <p>7 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-bike">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portofolioBicicletas/bicicleta4.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bicicleta de Montanha</h4>
                        <p>Specialized Epic Comp</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-off">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioOffRoad/OffRoad4.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dacia Duster</h4>
                        <p>7 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-road">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioBus/Bus4.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Iveco Daily</h4>
                        <p>19 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-bike">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portofolioBicicletas/bicicleta5.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bicicleta de Estrada</h4>
                        <p>Trek Emonda SL 6</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-off">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioOffRoad/OffRoad5.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Nissan Patrol</h4>
                        <p>5 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-bike">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portofolioBicicletas/bicicleta6.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bicicleta de Montanha</h4>
                        <p>Trek Supercaliber 9.8 XT</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-off">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioOffRoad/OffRoad6.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Land Rover Discovery</h4>
                        <p>5 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-road">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioBus/Bus5.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mercedes Sprinter</h4>
                        <p>14 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-off">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioOffRoad/OffRoad7.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mercedes G</h4>
                        <p>5 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-bike">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portofolioBicicletas/bicicleta7.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bicicleta de Estrada</h4>
                        <p>Specialized Tarmac Comp</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-off">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolioOffRoad/OffRoad8.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Kia Sorento</h4>
                        <p>7 Lugares</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-bike">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portofolioBicicletas/bicicleta8.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bicicleta de Montanha</h4>
                        <p>Specialized Epic Hardtrail</p>
                        <div class="portfolio-links">
                            <a href="portfolio-details.html" title="Mais Detalhes"><i class="icofont-external-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>







        </div>

    </div>
</section><!-- End Our Portfolio Section -->