@model EgiTrails.Models.Reservas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telemovel" class="control-label"></label>
                <input asp-for="Telemovel" class="form-control" />
                <span asp-validation-for="Telemovel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NPessoas" class="control-label"></label>
                <input asp-for="NPessoas" type="number" class="form-control" id="numerodepessoas" placeholder="Number of people">
                <span asp-validation-for="NPessoas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoVeiculo" class="control-label"></label>
                <select asp-for="TipoVeiculo" class="form-control" required>
                    <option value="">Que tipo de veiculo Prefere</option>
                    <option>Urbano</option>
                    <option>Off-Road</option>
                    <option>velocipede</option>
                    <option>Não pretendo veiculo</option>
                </select>

                <span asp-validation-for="TipoVeiculo" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
